<html>
  <head>
    <link href="https://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">
  </head>

  <body>
    <%= content %>
    <script src="https://vjs.zencdn.net/5.16.0/video.js"></script>
  </body>
</html>
