<html>
  <head>
    <link href="https://vjs.zencdn.net/5.16.0/video-js.css" rel="stylesheet">

    <style type='text/css'>
      body {
        background-color: #111;
        color: #ddd;
      }

      a:link { color: #7cffeb; }
      a:visited { color: #92d18c; }
      a:hover { color: yellow; }
      a:active { color: red; }
   </style>

  </head>

  <body>
    <%= content %>
    <script src="https://vjs.zencdn.net/5.16.0/video.js"></script>
  </body>
</html>
